@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Rufina:wght@400;700&display=swap');

/* General Formatting */

body {
  overflow: hidden;
  background-color: #272C26;
  color: #FBF6EF;
  margin: 0;
  font-family: 'Average Sans', 'Fira Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
}

p {
  font-size: 14pt;
  margin: 8px;
  padding: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
